body {
  background-color: #006400;
  color: white;
  margin: 0;
  font-family: sans-serif;
  border: 10px solid #4f2507;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}   

aside {
  display: flex;
  flex-direction: row;
  width: 1350px;                 
  height: 700px;                 
  background-color: black;
  box-sizing: border-box;
}

#deck-area {
  width: 200px;
  background-color: black;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#deck-area ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

li > button {
  width: 90px;
  height: 40px;
  background-color: #FFD966;
  color: black;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

#game-area {
  flex-grow: 1;
  background-color: #006400;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#table{
  background: black;
  height: 70%;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0 3vw;
  border: 1vw solid white;
  border-bottom-left-radius: 50vw;
  border-bottom-right-radius: 50vw;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-areas: "dealer dealer"
                       "split player";
}

#dealer{
  grid-area: dealer;
  place-self: center;
  text-align: center;
  position: relative;
}

/* When custom decks implimented, change background color here */
.card{
  height: 11vh;
  width: 4vw;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  position: relative;
  visibility: hidden;
}

/* When custom decks implimented, change font/color here */
.card::before {
  color: black;
  position: absolute;
  top: 3%;
  left: 3%;
}

.card::after {
  color: black;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: rotate(180deg);
}

.ace::before, .ace::after {
  content: "A";
}

.two::before, .two::after {
  content: "2";
}

.three::before, .three::after{
  content: "3";
}

.four::before, .four::after{
  content: "4";
}

.five::before, .five::after{
  content: "5";
}

.six::before, .six::after{
  content: "6";
  text-decoration: underline;
}

.seven::before, .seven::after{
  content: "7";
}

.eight::before, .eight::after{
  content: "8";
}

.nine::before, .nine::after{
  content: "9";
  text-decoration: underline;
}

.ten::before, .ten::after{
  content: "10";
}

/* Double digit num needs special alignment */
.ten::after{
  left: 72%;
}

.jack::before, .jack::after{
  content: "J";
}

.queen::before, .queen::after{
  content: "Q";
}

/* Q is large, special alignment */
.queen::before{
  left: 1%;
}

.king::before, .king::after{
  content: "K";
}

#dealerC5 {
  position:absolute;
  top: -75px;
  left: -250px;
}

#dealerC4 {
  position:absolute;
  top: -75px;
  left: -150px;
}

#dealerC3 {
  position:absolute;
  top: -75px;
  left: -50px;
}

#dealerC2 {
  position:absolute;
  top: -75px;
  left: 50px;
  height: 11vh;
  width: 4vw;
  border-radius: 5px;
  background-color: white;
}

#dealerC1 {
  position:absolute;
  top: -75px;
  left: 150px;
}

.dealer-deck {
  position: relative;
  background-color: grey;
  left: 300px;
  top: -40px;
  transform: rotate(30deg);
  height: 11vh;
  width: 4vw;
  border: 2px;
  border-radius: 5px;
  writing-mode: sideways-lr;
  z-index: 10;
  transition: transform 1s ease-in-out;
}

.copy {
  position: absolute;
  z-index: 20;
  transition: transform 1s ease-in-out;
}

#dealer-total{
  position: absolute;
  top: 15px;
  left: 130px;
  width: 8vw;
}

#player-split{
  grid-area: split;
  place-self: center;
  text-align: center;
  position: relative;
  visibility: hidden;
}

#player-splitC5{
  position: absolute;
  top: -200px;
  left: -45px;
}

#player-splitC4{
  position: absolute;
  top: -170px;
  left: -20px;
}

#player-splitC3{
  position: absolute;
  top: -140px;
  left: -5px;
}

#player-splitC2{
  position: absolute;
  top: -110px;
  left: 20px;
}

#player-splitC1{
  position: absolute;
  top: -80px;
  left: 45px;
}

#player-split-total{
  position: absolute;
  width: 12vw;
  top: 20px;
  left: 0px;
}

#player{
  grid-area: player;
  place-self: center;
  text-align: center;
  position: relative;
}

#playerC5{
  position: absolute;
  top: -200px;
  left: -200px;
}

#playerC4{
  position: absolute;
  top: -170px;
  left: -175px;
}

#playerC3{
  position: absolute;
  top: -140px;
  left: -150px;
}

#playerC2{
  position: absolute;
  top: -110px;
  left: -125px;
}

#playerC1{
  position: absolute;
  top: -80px;
  left: -100px;
}

#player-total{
  position: absolute;
  top: 20px;
  left: -150px;
  width: 8vw;
}

#buttons{
  place-self: center;
  display: grid;
  grid-template-areas: "hit deal stand"
                       /* ". deal ." */
                       "split deal doubleButton";
}

.action-button{
  background-color: black;
  color: white;
  border: 5px solid white;
  border-radius: 5px;
  font-weight: bold;
}

.action-button:hover {
  background-color: white;
  color: black;
  border: 5px solid black;
}

.primary-button{
  width: 10vw;
  height: 10vh;
  font-size: x-large;
  margin: 3vh 4vw;
}

.secondary-button{
  width: 7vw;
  height: 7vh;
  font-size: medium;
  margin: 0 4vw;
}

#hit-button{
  grid-area: hit;
}

#deal-button{
  grid-area: deal;
  margin-top: 4vh;
  width: 10vw;
  border: 5px solid black;
  border-radius: 200px;

  font-size: xx-large;
  font-weight: bold;
}

#deal-button:hover{
  background-color: black;
  color: white;
  border: 5px solid white;
}

#stand-button{
  grid-area: stand;
}

#split-button{
  grid-area: split;
  justify-self: end;
}

#double-button{
  grid-area: doubleButton;
}

/* RIGHT SIDE */
#betting-area {
  width: 200px;
  background-color: black;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

#shop {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  overflow: auto;
  scrollbar-width: none;
  margin: 0px;
}

.deck-option {
  width: 4vw;
  height: 11vh;
  background-color: white;
  border-radius: 5px;
  margin: 0px;
  color: black;
  text-align: center;
  justify-content: center;
}

.common {
    border: 4px solid grey;
}

.uncommon {
    border: 4px solid lightgreen;
}

.rare {
    border: 4px solid rgb(46, 86, 216);
}

.epic {
    border: 4px solid rgb(133, 37, 133);
}

.legendary {
    border: 4px solid rgb(223, 223, 73);
}

.rarityContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

#common-container {
  border: 4px solid grey;
}

#uncommon-container {
  border: 4px solid lightgreen;
}

#rare-container {
  border: 4px solid rgb(46, 86, 216);
}

#epic-container {
  border: 4px solid rgb(133, 37, 133);
}

#legendary-container {
  border: 4px solid rgb(223, 223, 73);
}

legend {
  text-align: center;
}

#leaderboard-area {
  width: 220px;
  background-color: black;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
  box-sizing: border-box;
  height: 100%;
}

#earnings-section,
#leaderboard-section,
#rank-section,
#daily-section {
  width: 100%;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: black;
}

#rank-section,
#daily-section {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#leaderboard-section {
  flex-grow: 1;
  overflow-y: auto;
}

#leaderboard-area h3 {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 1.1em;
}

#top-10-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

#top-10-list li {
  margin: 3px 0;
  padding-left: 5px;
}

#total-earnings,
#my-rank, #streak-count {
  text-align: center;
  font-weight: bold;
}

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  z-index: 1000;
}

#top-nav nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 50px;
  white-space: nowrap;
  width: 100%;
  max-width: 800px;
}

#top-nav .nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.00rem;
}

body {
  padding-top: 50px;
}

.Visual-page main {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.image-grid section {
  flex: 1 1 45%;
  flex-direction: column;
  align-items: center;
}

.image-grid section h2 {
  color: black;
  border: 3px solid black;
  padding: 2px 2px;
  border-radius: 3px;
  text-align: center;
  background-color: #F0EAD6;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.learn-page main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.knowledge {
  max-width: 600px; 
  max-height: 700px;
  width: 90%;
  padding: 20px;
  border-radius: 8px;
  color: black;
  border: 3px solid black;
  font-size: 0.8rem;
  background-color: #F0EAD6;
  align-items: center;
}

.popup {
  position: fixed; 
  width: 40%; 
  height: 60%; 
  margin: auto; 
  background-color: rgb(194, 217, 255); 
  border: 5px solid black; 
  border-radius: 15px; 
  display: flex; 
  place-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.popupTitle {
  font-size: 1.4rem;
  color: black;
  margin-bottom: 30px;
}

.blur {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  z-index: 15;
}

.popupButton {
  width: 70px;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
}

.affirm:hover {
  background-color: green;
}

.decline:hover {
  background-color: red;
}

.errorMessage {
  color: red;
  width: 100px;
  height: 20px;
  font-size: 15px;
  text-align: center;
}

button.inverse {
  filter: invert(1);
}

.selected {
  background-color: #c69d0b;
}

.upload-label {
  margin-bottom: 1vh;
  font-size: 1.5vw;
}

.upload-container {
  display: flex;
  justify-content: center;

  height: 44vh;
  width: 16vw;
  margin-top: 3vh;
  margin-bottom: 2vh;

  border: 2px solid black;
  border-radius: 5px;
}

.upload-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-deck {
  width: 100%;
  height: 100%;

}

#deck-name-container {
  display: flex;
  padding-bottom: 2vh;
}

#deck-name {
  margin-left: 1vw;
}

.selectedDeck {
  border: solid rgb(0, 255, 247) 5px;
}


#popup-cancel {
  margin-left: 5vw;
  margin-bottom: 2vh;
}

#inform-main {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  margin: top;
  align-items: flex-start;
}

.info-heading {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  border: 2px solid white;
  background-color: #1B1212;
  padding: 30px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  text-align: center;
  z-index: 1000;
}

.info-labels {
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 2px solid #333;
  margin-bottom: 20px;
  padding: 10px;
  top: 110px;
  left: 0;
  right: 0;
  position: fixed;
  background-color: grey;
  border: 2px solid white;
  z-index: 999;
}

#data-linker {
  border-radius: 5px;
  border: 2px solid black;
  background-color: beige;
  color: black;
  width: 700px;
  height: 500px;
  position: fixed;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  z-index: 995;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  font-size: large;
  overflow: visible;
}

.view-toggle {
  position: fixed;
  top: 205px;
  left: 45%;
  right: 45%;
  display: flex;
  gap: 10px;
  justify-content: center;
  z-index: 998;
}

#players-list.list-view {
  text-align: center;
}

#players-list.list-view p {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  padding: 3px 25px;
}

#players-list.grid-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  text-align: center;
}

#players-list.grid-view p {
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px 2px;
  background-color: white;
}


#profileContainer {
  text-align: center;
}

#profileContainer > button {
  width: 8vw;
  height: 6vh;
}

#profileContainer > button:hover {
  background-color: red;
}

#idInput {
  margin: auto;
  margin-bottom: 15px;
}

#alternative {
  margin-top: 45px;
}

.end-title {
  font-size: 5rem;
  margin-bottom: 3vh;
}

.end-subtitle{
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1vh;
}

.end-payout-win{
  font-size: 2rem;
  color: green;
}

.end-payout-loss{
  font-size: 2rem;
  color: red;
}
.end-replay{
  font-size: 1rem;
  margin-bottom: 3vh;
}

.end-replay:hover{
  background-color: rgb(00,6,400);
}

#mobile-nav {
  display: none;
}

#chip-area {
  position: absolute;
  bottom: 3rem;
  pointer-events: auto;
  z-index: 10;
  width: 100%;
}

#left-chips {
  position: absolute;
  left: 175px;
  bottom: -30px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#right-chips {
  position: absolute;
  left: 990px;
  bottom: -30px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chip {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: black;
  border: 6px dashed white;
  color: white;
  cursor: pointer;
}

#currency {
  position: absolute;
  bottom: 40px;
  left: 930px;
  transform: translateX(-50%);
}

.hidden {
  display: none !important;
}

@media (max-width: 430px) {
  /* Index */
  body {
    border: none;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;
    height: 100vh;
    width: 100vw;
    padding-top: 50px;
    display: block;
  }

  /* 3 main columns of index */
  aside, #main-aside {
    display: block;
    width: 100%;
    height: calc(100vh - 50px);
    padding: 0;
    margin: 0;
  }

  #deck-area {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  /* Something wrong with this, taking up too much height */
  #game-area {
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    align-items: center;
  }

  #leaderboard-area {
    width: 100%;
    height: 100%;
    overflow: scroll;
  }

  #table {
    display: grid;
    margin: 0;
    place-self: center;
    height: 45%;
    width: 80%;
    padding-top: 3%;
  }

  #deck-area, #leaderboard-area {
    display: none;
  }

  #top-nav{
    width: 100%;
  }
  #top-nav .nav-link {
    font-size: x-small;
  }

  #top-nav nav{
    gap: 5vw;
    align-items: left;
    justify-content: center;
  }

  /* Toggle between main columns */
  #mobile-nav {
    background-color: #006400;
    border: 2px solid #006400;
    display: flex;
    position: block;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    justify-content: space-around;
  }

  .mobile-button {
    color: white;
    background-color: black;
    border: white 5px solid;
    border-radius: 4px;
    text-align: center;
    width: 30%;
  }

  /* Game style changes */
  .card, #dealerC2 {
    visibility: hidden;
    height: 15vw;
    width: 9vw;
    position: relative;
  }

  #dealerC5 {
  position:absolute;
  top: -50px;
  left: -100px;
  }

  #dealerC4 {
    position:absolute;
    top: -50px;
    left: -50px;
  }

  #dealerC3 {
    position:absolute;
    top: -50px;
    left: 00px;
  }

  #dealerC2 {
    position:absolute;
    top: -50px;
    left: 50px;
  }

  #dealerC1 {
    position:absolute;
    top: -50px;
    left: 100px;
  }

  .dealer-deck {
    position: relative;
    left: 80px;
    top: 20px;
    height: 15vw;
    width: 9vw;
  }

  #dealer-total{
    font-size: small;
    position: absolute;
    top: 60px;
    left: 95px;
    width: 8vw;
  }

  .copy {
  position: absolute;
  z-index: 20;
  transition: transform 1s ease-in-out;
}

  #player-split{
    position: relative;
    visibility: hidden;
  }

  #player-splitC5{
    position: absolute;
    top: -130px;
    left: -55px;
  }

  #player-splitC4{
    position: absolute;
    top: -110px;
    left: -45px;
  }

  #player-splitC3{
    position: absolute;
    top: -90px;
    left: -35px;
  }

  #player-splitC2{
    position: absolute;
    top: -70px;
    left: -25px;
  }

  #player-splitC1{
    position: absolute;
    top: -50px;
    left: -15px;
  }

  #player-split-total{
    font-size: small;
    position: absolute;
    width: 12vw;
    top: -30px;
    left: 20px;
  }

  #player{
    position: relative;
  }

  #playerC5{
    position: absolute;
    top: -130px;
    left: -90px;
  }

  #playerC4{
    position: absolute;
    top: -110px;
    left: -80px;
  }

  #playerC3{
    position: absolute;
    top: -90px;
    left: -70px;
  }

  #playerC2{
    position: absolute;
    top: -70px;
    left: -60px;
  }

  #playerC1{
    position: absolute;
    top: -50px;
    left: -50px;
  }

  #player-total{
    font-size: small;
    position: absolute;
    top: -30px;
    left: -10px;
    width: 8vw;
  }

  .primary-button{
    width: 23vw;
    height: 8vh;
    font-size: medium;
    margin: 3vh 4vw;
  }

  .secondary-button{
    width: 24vw;
    height: 5vh;
    font-size: small;
    margin: 0 4vw;
  }

  #deal-button{
    width: 28vw;
    font-size: x-large;
  }

  #chip-area {
    position: absolute;
    top: 450px;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    z-index: 2000;
    margin-bottom: 3vh;
  }

  #left-chips,
  #right-chips {
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    width: 100%;
  }
  
  .chip {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: x-small;
    background: black;
    border: 5px dashed white;
    color: white;
  }

  #currency {
    position: static;
    transform: none;
    margin-top: 10px;
    text-align: center;
  }

  .end-title {
    font-size: 2.8rem;
    align-self: center;
  }

  .deck-option {
    height: 20vw;
    width: 15vw;
  }

  .popup {
    margin-top: 0;
    top: 150px;
    width: 80vw;
    z-index: 2000;
  }

  .popup > h3:first-child {
    margin-top: 0;
  }

  /* Other pages changes */
  .knowledge {
    /* height: 100%; */
    overflow: scroll;
  }

  .info-heading {
    font-size: x-large;
  }

  .info-labels {
    font-size: small;
  }

  #data-linker {
    width: 100%;
    font-size: small;
  }

  #players-list{
    overflow: scroll;
  }

  #profileContainer > button {
    width: 25vw;
    font-size: medium;
  }
}