body {
  background-color: #006400;
  color: white;
  margin: 0;
  font-family: sans-serif;
  border: 10px solid #4f2507;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}   

aside {
  display: flex;
  flex-direction: row;
  width: 1350px;                 
  /* sets width */
  height: 700px;                 
  /* sets height */
  /* border: 2px solid black; */
  background-color: black;
  box-sizing: border-box;
}

nav {
  width: 200px;
  background-color: black;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav button {
  width: 90px;
  height: 40px;
  background-color: #FFD966;
  color: black;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

#game-area {
  flex-grow: 1;
  background-color: #006400;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#table{
  background: black;
  height: 70%;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 0 3vw;
  border: 1vw solid white;
  border-bottom-left-radius: 50vw;
  border-bottom-right-radius: 50vw;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-areas: "dealer dealer"
                       "split player";
}

#dealer{
  grid-area: dealer;
  place-self: center;
  text-align: center;
  position: relative;
}

.card{
  height: 11vh;
  width: 4vw;
  border: 2px;
  border-radius: 5px;
  background-color: blue;
}

#dealerC5 {
  position:absolute;
  top: -75px;
  left: -250px;
}

#dealerC4 {
  position:absolute;
  top: -75px;
  left: -150px;
}

#dealerC3 {
  position:absolute;
  top: -75px;
  left: -50px;
}

#dealerC2 {
  position:absolute;
  top: -75px;
  left: 50px;
  height: 11vh;
  width: 4vw;
  border: 2px;
  border-radius: 5px;
  background-color: blue;
}

#dealerC1 {
  position:absolute;
  top: -75px;
  left: 150px;
}

.dealer-deck {
  position: relative;
  left: 300px;
  top: -40px;
  transform: rotate(30deg);
  background-color: gray;
  height: 11vh;
  width: 4vw;
  border: 2px;
  border-radius: 5px;
  writing-mode: sideways-lr;
  z-index: 10;
  transition: transform 1s ease-in-out;
}

.copy {
  position: absolute;
  z-index: 20;
  transition: transform 1s ease-in-out;
}

#dealer-total{
  position: absolute;
  top: 10px;
  left: 130px;
  width: 8vw;
}

#player-split{
  grid-area: split;
  place-self: center;
  text-align: center;
  position: relative;
}

#player-splitC5{
  position: absolute;
  top: -200px;
  left: -45px;
}

#player-splitC4{
  position: absolute;
  top: -170px;
  left: -20px;
}

#player-splitC3{
  position: absolute;
  top: -140px;
  left: -5px;
}

#player-splitC2{
  position: absolute;
  top: -110px;
  left: 20px;
}

#player-splitC1{
  position: absolute;
  top: -80px;
  left: 45px;
}

#player-split-total{
  position: absolute;
  width: 12vw;
  top: 20px;
  left: 0px;
}

#player{
  grid-area: player;
  place-self: center;
  text-align: center;
  position: relative;
}

#playerC5{
  position: absolute;
  top: -200px;
  left: -200px;
}

#playerC4{
  position: absolute;
  top: -170px;
  left: -175px;
}

#playerC3{
  position: absolute;
  top: -140px;
  left: -150px;
}

#playerC2{
  position: absolute;
  top: -110px;
  left: -125px;
}

#playerC1{
  position: absolute;
  top: -80px;
  left: -100px;
}

#player-total{
  position: absolute;
  top: 20px;
  left: -150px;
  width: 8vw;
}

#buttons{
  place-self: center;
  display: grid;
  grid-template-areas: "hit deal stand"
                       /* ". deal ." */
                       "split deal doubleButton";
}

.action-button{
  background-color: black;
  color: white;
  border: 5px solid white;
  border-radius: 5px;
  font-weight: bold;
}

.action-button:hover {
  background-color: white;
  color: black;
  border: 5px solid black;
}

.primary-button{
  width: 10vw;
  height: 10vh;
  font-size: x-large;
  margin: 3vh 4vw;
}

.secondary-button{
  width: 7vw;
  height: 7vh;
  font-size: medium;
  margin: 0 4vw;
}

#hit-button{
  grid-area: hit;
}

#deal-button{
  grid-area: deal;
  margin-top: 4vh;
  width: 10vw;
  border: 5px solid black;
  border-radius: 200px;

  font-size: xx-large;
  font-weight: bold;
}

#deal-button:hover{
  background-color: black;
  color: white;
  border: 5px solid white;
}

#stand-button{
  grid-area: stand;
}

#split-button{
  grid-area: split;
  justify-self: end;
}

#double-button{
  grid-area: doubleButton;
}

/* RIGHT SIDE */
#betting-area {
  width: 200px;
  background-color: black;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}

#shop {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
  overflow: auto;
  scrollbar-width: none;
  margin: 0px;
}

.deck-option {
  width: 4vw;
  height: 11vh;
  background-color: white;
  border-radius: 5px;
  margin: 0px;
  color: black;
  text-align: center;
  justify-content: center;
}

.common {
    border: 4px solid grey;
}

.uncommon {
    border: 4px solid lightgreen;
}

.rare {
    border: 4px solid rgb(46, 86, 216);
}

.epic {
    border: 4px solid rgb(133, 37, 133);
}

.legendary {
    border: 4px solid rgb(223, 223, 73);
}

.rarityContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
}

#common-container {
  border: 4px solid grey;
}

#uncommon-container {
  border: 4px solid lightgreen;
}

#rare-container {
  border: 4px solid rgb(46, 86, 216);
}

#epic-container {
  border: 4px solid rgb(133, 37, 133);
}

#legendary-container {
  border: 4px solid rgb(223, 223, 73);
}

legend {
  text-align: center;
}

#leaderboard-area {
  width: 220px;
  background-color: black;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
  box-sizing: border-box;
  height: 100%;
}

#earnings-section,
#leaderboard-section,
#rank-section,
#daily-section {
  width: 100%;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: black;
}

#rank-section,
#daily-section {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#leaderboard-section {
  flex-grow: 1;
  overflow-y: auto;
}

#leaderboard-area h3 {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 1.1em;
}

#top-10-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

#top-10-list li {
  margin: 3px 0;
  padding-left: 5px;
}

#total-earnings,
#my-rank, #streak-count {
  text-align: center;
  font-weight: bold;
}

#top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 0;
  z-index: 1000;
}

#top-nav nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 50px;
  white-space: nowrap;
  width: 100%;
  max-width: 800px;
}

#top-nav .nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.00rem;
}

body {
  padding-top: 50px;
}

.Visual-page main {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.image-grid section {
  flex: 1 1 45%;
  flex-direction: column;
  align-items: center;
}

.image-grid section h2 {
  color: black;
  border: 3px solid black;
  padding: 2px 2px;
  border-radius: 3px;
  text-align: center;
  background-color: #F0EAD6;
}

.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.learn-page main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.knowledge {
  max-width: 600px; 
  max-height: 700px;
  width: 90%;
  padding: 20px;
  border-radius: 8px;
  color: black;
  border: 3px solid black;
  font-size: 0.8rem;
  background-color: #F0EAD6;
}

.popup {
  position: fixed; 
  width: 500px; 
  height: 500px; 
  margin: auto; 
  background-color: rgb(194, 217, 255); 
  border: 5px solid black; 
  border-radius: 15px; 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.popupTitle {
  font-size: 25px;
  color: black;
  margin-bottom: 30px;
}

.blur {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  z-index: 15;
}

.popupButton {
  width: 70px;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
}

.affirm:hover {
  background-color: green;
}

.decline:hover {
  background-color: red;
}

.errorMessage {
  color: red;
  width: 100px;
  height: 20px;
  font-size: 15px;
  text-align: center;
}